*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;
}

.app{
width:500px;
padding:30px;
border-radius:15px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

header{
text-align:center;
margin-bottom:25px;
}

.subtitle{
opacity:0.8;
margin-bottom:10px;
font-size:14px;
}

.search{
margin-top:15px;
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:6px;
outline:none;
}

button{
background:#ff9800;
border:none;
padding:10px 15px;
border-radius:6px;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#e68900;
}

#message{
margin-top:10px;
color:#ffdede;
font-size:14px;
}

.main-weather{
text-align:center;
margin-bottom:25px;
}

.temp{
font-size:60px;
font-weight:bold;
margin:10px 0;
}

.weather-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.card{
background:rgba(255,255,255,0.15);
padding:15px;
border-radius:10px;
text-align:center;
transition:transform 0.2s ease;
}

.card:hover{
transform:scale(1.05);
}

.card p{
font-size:14px;
opacity:0.8;
}

.card h3{
margin-top:5px;
}

.hidden{
display:none;
}
